.footer{
    background-color: #3bdbb6;
    padding: 2rem 4rem;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image__color{
    fill: #105746;
}


.list__group{
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
}

.list__item{
    margin-right: 0.5rem;
    list-style: none;
}

.list__item > a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: #7ca395;
}
