.navbar{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
}

.navbar__item{
    display: flex;

}


.navbar__list{
    font-weight: normal;
    margin-left: 25px;
    list-style: none;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;

}


.navbar__list:hover{
    background-color: #31dbeb;
}


.active{
    color: black;
    background-color:white;
    text-transform: uppercase;
}

.active:hover{
    color: #fff;
    background-color: #31dbeb;
}