.sections{
    display: grid;
}

.section{
    max-width: 100%;
    display: flex;
    flex-direction: row;
}


.description1{
    padding: 8rem 5rem;
}

.description1 > h2, .description1 > p{
    margin-bottom: 1.5rem;
}

.description1 > p{
    text-transform: lowercase;
   font-family: 'Barlow', sans-serif;
   color:#808080;
}

.description1 > h5{
    font-size: x-small;
    color:#808080;
}


.card{
    width: 50%;
    height: 505px;
}

